.box1{
    font-size: 2rem;
/* 
    1rem=16px */
}


.text-content{
    font-size: 3rem;
    border: .123rem solid red;
}


html{
    font-size: 10px; 
    font-size: 62.5%; 
    /* ye dono same baat h  percntage respponsive banane k liye use krte h*/
}